<div class="popular-posts">
  <ul class="popular_blog_entries">
    <% popular_blog_entries.each do |blog_entry| %>
        <li>
          <%= link_to(blog_entry_permalink(blog_entry)) do %>
              <%= blog_entry.title %>
              <span class="blog_entry_views">(<%= "#{blog_entry.view_count}" %> views)</span><br>
              <span class="blog_entry_date"><em><%= "#{time_ago_in_words blog_entry.published_at} ago" %></em></span>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>